<section class="Contac">
    <form method="post" action="/login" class="form_contact">
        <p class="titulo-info">Informacion de Contacto</p>
        <div class="subtitulo-info">
            Ingrese su nombre:<br><br>
            <input type="text" name="nombre" size="30"><br><br>
            Ingrese mail:<br><br>
            <input type="mail" name="mail" size="50" value="{{mail}}"><br><br>
            Comentarios:<br><br>
            <textarea name="comentarios" rows="5" cols="60"></textarea><br><br>
            <input type="submit" value="Ingresar">
        </div>
    </form>
</section>

<div>
    <li>
        name
    </li>
</div>